<strong>Olá, Organizador(a) </strong>
<p>Houve uma nova inscrição de Meetup, confira as informações abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Data e Hora: </strong> {{ date }} <br />
  <br />
  <small>
    organização Criagile
  </small>
</p>
